
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bona+Nova&family=Josefin+Sans:ital,wght@0,400;0,700;1,400&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

/* common styles - general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
}

html{
    font-size: 62.5%;
}

.section-heading{
    font-size: 12rem;
    font-weight: 900;
    color: white;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    text-shadow:0.3rem 0.3rem 0.3rem #000;

}
/* end of common styles */

/* section-1 */
.section-1{
    width:100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-1-icons i{
    font-size: 35rem;
    color: #a79a2d;
    position: absolute; /* will make the icons cover one another as default*/
    /*transform() is included in translate() and
    it repositions elements in the horizontal
    and/or vertical direction*/
    transform: translate(-50%, -50%) scale(0);
    text-shadow: 0.2rem 0.2rem 0.2rem #000;
    transition: transform 0.3s;
}

.section-1-icons i.change{
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s 0.3s;
    /* transition: transform .3s; */
}

/* end of section-1 */

/* section-2 */
.sectoin-2 {
    width: 100%;
    height: 100vh;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10rem 0;

}

.cards-container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 30rem;
    background-color: #a79a2d;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1rem 1rem 1rem #000;
    /*in order to position the "before" pseudo element according to its parent element*/
    position: relative;
    /*tilting the cards:*/
    transform: rotateY(20deg) skewX(-2deg);
    transition: transform 0.5s, box-shadow 0.5;
}

.card:hover{
    transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
    box-shadow: 2rem 2rem 2rem #000;
}

/*pseodo elements are elements that are not in the html itself*/
/*and we add them before or after existing elements that we do have
and have the ability to control on when they will appear. we style them
seperately while stating the element they are attached to, and whether
it is befor or after that element*/
/*here we build the "3D" lines of the cards:*/
.card::before{
    content: "";
    height: 100%;
    width: 1rem;
    background-color: #817824;
    position: absolute;
    top:0;
    left: -1rem;
    /*for 3D illusion:*/
    transform: skewY(45deg);
    transform-origin: right;
    box-shadow: -0.1rem -0.1rem -0.1rem #000;
}

.card::after{
    content: "";
    height: 1rem;
    width: 100%;
    background-color: #817824;
    position: absolute;
    top:-1rem;
    left: 0;
    /*for 3D illusion:*/
    transform: skewX(45deg);
    transform-origin: bottom;
    box-shadow: -0.1rem -0.1rem -0.1rem #000;
}

.card-img {
    width: 100%;
}

.card-name {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: #000;
    margin: 2rem 0;
    text-shadow: 0.15rem 0.15rem 0.15rem #000;
}

.card-btn {
    width: 70%;
    background-color: #111;
    color: #888;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    border: none;
    padding: 0.5rem 0;
    cursor: pointer;
    box-shadow: -0.2rem -0.2rem -0.2rem #000;
}
/* end of section-2 */


/* section-3 */
.section-3 {
    background-color: #333;
    padding: 5rem 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10rem;
}

.gallery-link {
    position: relative;
    margin: 4rem 1rem;
}

.gallery-link::before {
    content: "";
    position: absolute;
    top:2vw;
    left: 80%;
    width: 0.2rem;
    /* height: 80%; */
    height: 0;
    background-color: #fff;
    transition: height .5s;
}

.gallery-link:hover::before {
    height: 80%;
}

.gallery-link:hover::after {
    width: 90%;
}

.gallery-link::after {
    content: "";
    position: absolute;
    top:30%;
    left:2rem;
    /* width: 90%; */
    width: 0;
    height: 0.2rem;
    background-color: #fff;
    transition: width .5s;
}

.food-img {
    height: 300px;
    width: 200px;
    object-fit: cover;
    box-shadow: .3rem .3rem 0.1rem #f4f1f1, 
    .5rem .5rem .1rem #343534, 
    .7rem .7rem .1rem rgb(143, 135, 135);
    transition: all 0.5s;
}

/*to change the shadow over the image*/
.gallery-link:hover .food-img {
    box-shadow: 1rem 1rem 0.1rem #f4f1f1, 
    2rem 2rem .1rem #343534, 
    3rem 3rem .1rem rgb(143, 135, 135);
    filter: blur(0.5rem);
    opacity: 0.5;
    transform: scale(1.1);
}

.food-name {
    position: absolute;
    top: 2rem;
    left: 1rem;
    font-size: 2rem;
    font-weight: 700rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #f5e448;
    /* background-color: #222; */
    width: 0;
    overflow: hidden;
    transition: width .3s;
}

.gallery-link:hover .food-name {
    width: 100%;
    transition: width 1.5s 0.5s;
}

.food-description {
    position: absolute;
    bottom: 1vw;
    left: 1rem;
    width: 70%;
    font-size: 1.0rem;
    font-weight: 600rem;
    color:#f5e448;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    /* background-color: #333; */
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
}

.gallery-link:hover .food-description {
    opacity: 1;
    visibility: visible;
    transition: opacity 1.0s 1s;
}


/* end of section-3 */


/* section-4 */


/* end of section-4 */



